---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Features from '../components/Features.astro';
import Tab from '../components/Tab.astro';
const heading = "Bienvenue à ce cours sur le Framework Astro !";
const text = "Construis des sites web statiques en peu de temps avec une architecture modulaire de composants."


const tabsHeadings = ['NPM', 'GitHub', 'Fork'];
const tabsContents = ['$ npm install', '$ npm create', '$ npm croquer']

---
<Layout >
  <Showcase heading={heading} text={text} showExtra={true} />
  <Features />
  <section class="page-content">
    <div class="container">
      <h2>Get Started With Astro</h2>
      <p>
        Get a new Astro project up and running locally with our helpful
        create-astro CLI wizard!
      </p>
      <Tab headings={tabsHeadings} contents={tabsContents}/>
      <h3>Start Building</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
        deserunt inventore ut voluptate, officia maiores repellat tenetur
        praesentium omnis est ex tempora a necessitatibus reiciendis at et
        dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
        laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
        iusto error molestias dolorum, necessitatibus labore?
      </p>
    </div>
  </section>
</Layout>


